Vstupní text: {{zadani}}
      Najdi v textu následující informace:
      - Sériové číslo (serial number)
      - Hostname
      - IP adresu
      Vrať výstup pouze ve formátu:
      Serial Number: <serial_number>
      Hostname: <hostname>
      IP Adresa: <ip_address>