Analyzuj následující popis incidentu a urči příslušné kódy pro "Příčinu" a "Technologickou oblast". Použij následující kódy:

Příčina:
1 Závada HW
2 Závada SW
3 Závada konektivita
4 Výpadek napájení/odstávka
5 Neohlášená práce
6 Ostatní

Technologická oblast:
01 Cisco
02 Checkpoint
03 VMWare
04 Microsoft
05 Symantec
06 F5
07 Koncová stanice
08 Videokonference
09 ZOOM
10 HP Servery
11 HP networking
12 Fortigate
13 IBM
14 Dokumentace
15 Trend Micro
16 UNIX/Linux
17 OpenSource
18 Autopark
19 CA
20 ADUCID
21 Veritas
99 Ostatní

Popis incidentu: {{popis}}

Vrať výstup ve formátu:
Příčina: kod_priciny
Technologická oblast: kod_oblasti

